/* globals.css */
@import "tailwindcss";

@theme {
  /* main color */
  --color-main-color-1: #f5fcfd;
  --color-main-color-5: #effbfd;
  --color-main-color-10: #e9f9fa;
  --color-main-color-20: #c8f0f3;
  --color-main-color-40: #96e2e8;
  --color-main-color-60: #6fd5de;
  --color-main-color-80: #3cb8c4;
  --color-main-color-100: #158995;

  /* secondary color */
  --color-secondary-color-1: #fffcf4;
  --color-secondary-color-5: #fff5db;
  --color-secondary-color-10: #feefc1;
  --color-secondary-color-20: #ffdd7f;
  --color-secondary-color-40: #ffc319;
  --color-secondary-color-60: #efb100;
  --color-secondary-color-80: #b28400;
  --color-secondary-color-100: #664b00;

  /* text color */
  --color-text-color-100: #1b1916;
  --color-text-color-80: #484744;
  --color-text-color-60: #767573;
  --color-text-color-40: #a4a3a2;
  --color-text-color-20: #d1d1d0;
  --color-text-color-10: #e8e8e8;
  --color-text-color-5: #f4f4f3;
}
